[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=board
Comment=board
Exec=/home/pi/Documents/board/board.sh
Icon=/home/pi/Documents/board/board.ico

Terminal=false
